@import url('https://fonts.googleapis.com/css?family=Work+Sans');

html body {
    background-color:#1e1e1e
}
h5 {
    font-family: 'Work Sans', sans-serif;
}
.wholeContainer {
    bottom: 0;
    left: 0;
    height: 92%;
    width: 85%;
    position: fixed;
    background: #1e1e1e;
}

.panelContainer {
  height: 92%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /*Fixed Sidebar (stay in place on scroll)*/
  z-index: 1; /* Stay on top*/
  bottom: 0;
  right: 0;
  background: #1e1e1e;
  box-shadow: -9px 2px 18px -7px rgba(0,0,0,1);
}